/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
body {
    background-image: url(../img/cork.png);
    font-family: Edu TAS Beginner;
}

.riga {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;  
    margin: 50px 0;
}



.column {
    width: calc((100% - 20px)/ 3);
}


/* LAYOUT */
#header {
    background-image: url(../img/wall.png);
    height: 100px;
    text-align: center;
    align-content: center;
}

.card {
    max-width: 300px;
    min-height: 350px;
    margin: 0 auto; 
}

#img-pin {
    position: absolute;
    left: 45%;
    top: 0;
    width: 30px;
}


@media screen and (max-width: 768px) {
    .column {
        width: calc((100% - 10px)/ 2);
    }
}

@media screen and (max-width: 426px) {
    .column {
        width: 100%;
    }
}